html {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 20fr;
}

.sidebar > * {
    border: 1px solid red;
}

.sidebar {
    background-color: lightblue;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 5fr;
    gap: 20px;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#logo-icon {
    height: 50px;
    width: auto;
}

.header {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 100px;
}

.header-left {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.header-right {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.user-icon {
    height: 50px;
    width: auto;
}

.user {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.user-icon-big {
    grid-row: 1 / 3;
    height: 100px;
    width: auto;
}

.content {
    background-color: grey;
}